<h1>
    <a href="/">API</a>
    <a href="/new" class="btn btn-primary pull-right">New</a>
    <a href="/update" class="btn btn-primary pull-right">Update</a>
    <a href="/delete" class="btn btn-primary pull-right">Delete</a>
</h1>
<hr>
