<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include ('partials/top') %>
    <title>index</title>
</head>
<body class="container">
    <%-include ('partials/header') %>
    <h1>Products:</h1>

    <div style="font-family: sans-serif; font-size: 18px; font-weight: 400; color: #000000; background:#f1f1f1">
        <%= JSON.stringify(rows)%>
    </div>

    
</body>
</html>