<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include ('partials/top') %>
    <title><%= title %></title>
</head>
<body class="container">
    <%-include ('partials/header') %>
    <h1>Update product</h1>

    <form id="form_put">
        <div class="form-grup">
            <label for="id">id:</label>
            <input type="number" name="id" id="id" placeholder="6" class="form-control">
        </div>
        <div class="form-grup">  
            <label for="description">Description:</label>
            <input type="text" name="description" id="description" placeholder="Coca Cola" class="form-control">
        </div>
        <div class="form-grup">
            <label for="price">Price:</label>
            <input type="number" name="price" id="price" placeholder="20" class="form-control">
        </div>

        <div class="form-grup">
            <label for="count">Count:</label>
            <input type="number" name="count" id="count" placeholder="3" class="form-control">
        </div>
        <br>
        <div class="form-grup">
            <input type="button" value="Actualizar" class="btn btn-primary" onclick="Actualizar()">
        </div>
    </form><br><br>

    <div class="text-center">
        <div id="oldProduct">
        
        </div>
    
        <div  id="newProduct">
    
        </div>
    </div>
    
    
    <Script>

        async function Actualizar(){

            let fm_put = document.querySelector( '#form_put' )
            document.querySelector("#newProduct").className = " ";
            document.querySelector('#newProduct').innerHTML =" ";

            //hace un get para comprobar si existe esa id
            fetch(`http://localhost:3000/${ fm_put.id.value }`)
                .then(res=> res.json())
                .then(res=>{ 
                    if(res[0] == undefined) { throw new Error('¡La id no existe!') }

                    document.querySelector("#oldProduct").className = "alert alert-secondary";
                    document.querySelector('#oldProduct').innerHTML ="Old: "+JSON.stringify(res[0]);

                    const obj = {}
                    new FormData( fm_put ).forEach( ( value, key ) => obj[ key ] = value )



                    
                    //consume el put
                    fetch( `http://localhost:3000/update/${ fm_put.id.value }`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify( obj )
                    })
                    .then(res => res.json())
                    .then( data =>{
                        document.querySelector("#newProduct").className = "alert alert-success",
                        document.querySelector("#newProduct").innerHTML ="New: "+ JSON.stringify(data) 

                    })
                    .catch( err => console.log( err ))
                    

                })
                .catch(err=>{
                    document.querySelector("#oldProduct").className = "alert alert-danger"
                    document.querySelector('#oldProduct').innerHTML = err
                })

            
        }
        


    </Script>
    
    
</body>
</html>